/* Footer styling */
footer {
    font-family: Arial, serif;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55); /* Opaque dark grey background */
    width: 100%;
    padding: 30px 30px 30px 18vw;
    color: white;
    margin-top: auto;
    gap: 20px;
}

/* Paragraph styling */
footer p, footer a {
    font-size: 1.1em;
    margin: 0; /* Removes any default margin for better alignment */
    color: inherit; /* Inherits the white color from the footer */
    text-decoration: none;
}

footer a:hover { 
    text-decoration: underline; /* Optional: Underline on hover */ 
}

/* Image styling */
.linkdn {
    width: 40px;
    height: 40px;
    border-radius: 5px; /* Slightly rounded edges */
    transition: transform 0.2s; /* Adds hover effect */
}

/* Hover effect for the LinkedIn logo */
.linkdn:hover {
    transform: scale(1.1); /* Slight zoom-in on hover */
}

.footer_links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px 16px;
    align-items: center;
}

.footer_link {
    text-decoration: none;
}

.footer_link:hover {
    text-decoration: none;
}

@media (max-width: 800px) {
    footer {
        padding: 30px 30px 30px 5vw;
    }
}
