/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Universal padding and margin reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color-scheme: light;
    background: linear-gradient(180deg, #e7823c, #ea9149);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

/* Center text content and add spacing */
.title_desc {
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
}

/* Grid containers for team and project cards */
.team-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Styling for team member cards */
.team-member .card {
    background-color: #787a7d;
    color: white;
    position: relative;
    width: 100%;
    height: 250px;
    perspective: 1000px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styling for project cards */
.project-card .card {
    background-color: #787a7d;
    color: black;
    position: relative;
    width: 400px;
    height: 350px;
    perspective: 1000px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.card-front {
    background-color: rgba(0, 0, 0, 0.7);
}

.card-back {
    background-color: #EFA960;
    transform: rotateY(180deg);
}

.card:hover .card-front {
    transform: rotateY(180deg);
}

.card:hover .card-back {
    transform: rotateY(0deg);
}

/* Styling the front of team&projects card */
.card-front img {
    object-fit: cover;
    margin-bottom: 10px;
}

/* Styling the front of projects card */
.project-card .card-front img {
    width: 300px;
    height: 250px;
    border-radius: 5px;
}

/* Styling the front of team-members card */
.team-member .card-front img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.card-front h3 {
    margin: 10px 0 5px;
    font-size: 1.3em;
    font-weight: 700;
    color: white;
}

.card-front p {
    font-size: 1em;
    font-weight: 400;
    color: white;
}

/* Styling for link in card-back */
.card-back a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card-back a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: underline;
}

.team-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px 15px;
    background-color: #EFA960;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.filter-btn:hover {
    background-color: #D37C50;
}

@media (prefers-color-scheme: dark) {
    body {
        --color-scheme: dark;
        background: linear-gradient(180deg, #787a7d, #414243);
        background-size: cover;
        background-attachment: fixed;
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        min-height: 100vh;
    }
}
