* {
    margin: 0;
    padding: 0;
}

nav {
    --color-scheme: light;
    color: white;
    background-color: #787a7d;
    font-family: Arial, serif;
    font-size: 15px;
    width: 100%;
    height: 75px;
    position: relative;
}

.links {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 75px;
    align-items: center;
    list-style-type: none;
    height: 100%;
}

.nav_links {
    display: grid;
    grid-template-columns: repeat(5, 125px);
    grid-template-rows: 12vh;
    align-items: center;
    justify-items: center;
    padding-right: 10px;
}

.respo_navbar {
    display: none;
    height: 100%;
}

.dropdown {
    display: none;
    position: fixed;
    top: 75px;
    right: 0;
    width: 150px;
    height: calc(100vh - 75px);
    background: #787a7d;
    border-top: 1px solid #d8d9da;
    border-left: 1px solid #d8d9da;
    border-bottom: 1px solid #d8d9da;
    border-radius: 7px 0 0 7px;
    padding: 15px;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    z-index: 1000;
}

.contact-link {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    background-color: #e7823c;
    transition: box-shadow 0.3s ease-in-out;
}

.contact-link:hover {
    box-shadow: 0 0 18px 8px #ea9149;
}

.nav_link:link, .nav_link:visited {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #ea9149 50%, #e7823c 100%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease;
}

.nav_link:hover {
    background-position: -100% 0;
}

.nav_logo {
    padding-left: 2vw;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo_img {
    width: 75px;
    height: 75px;
    max-width: 100px;
    max-height: 100px;
    opacity: 1;
    border-radius: 10%;
    object-fit: contain;
    transition: all 0.3s ease;
}

.menu_bar {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.menu_bar:hover {
    opacity: 0.6;
}

@media screen and (max-width: 800px) {
    .respo_navbar {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        list-style-type: none;
        height: 100%;
        padding: 0 20px;
    }

    .respo_navbar .nav_logo {
        padding-left: 0;
    }

    .respo_navbar .logo_img {
        width: 60px;
        height: 60px;
    }

    .links {
        display: none;
    }
}

@media screen and (min-width: 801px) {
    .respo_navbar {
        display: none;
    }
    
    .dropdown {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    nav {
        --color-scheme: dark;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        font-family: Arial, serif;
        font-size: 15px;
        width: 100%;
        height: 75px;
    }
}
