<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Srujan Patil" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="../static/main/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/main/css/navbar.css" />
    <link rel="stylesheet" href="../static/main/css/main.css" />
    <link rel="stylesheet" href="../static/main/css/contact.css" />
    <link rel="stylesheet" href="../static/main/css/footer.css" />
    <script src="../static/main/js/main.js" defer></script>
    <title>DayDream Technologies - Contact</title>
</head>

<body>
    <nav>
        <ul class="links">
            <li>
                <a class="nav_logo" href="home.html">
                    <img class="logo_img"
                         src="../static/main/images/Company_Logo.jpg"
                         alt="Day Dream Technologies" />
                </a>
            </li>
            <div class="nav_links">
                <li><a class="nav_link" href="home.html" title="Daydream's homepage">HOME</a></li>
                <li><a class="nav_link" href="projects.html" title="Projects page">PROJECTS</a></li>
                <li><a class="nav_link" href="team.html" title="Meet the team">TEAM</a></li>
                <li><a class="contact-link" href="contact.html" title="Contact us">CONTACT</a></li>
            </div>
        </ul>
        <ul class="respo_navbar">
            <li>
                <a class="nav_logo" href="home.html">
                    <img class="logo_img"
                         src="../static/main/images/Company_Logo.jpg"
                         alt="Day Dream Technologies" />
                </a>
            </li>
            <li><img class="menu_bar" src="../static/main/images/menu-bar.png" alt="menu"></li>
        </ul>
        <ul class="dropdown">
            <li><a class="nav_link" href="home.html" title="DayDream's homepage">Home</a></li>
            <li><a class="nav_link" href="projects.html" title="Projects page">Projects</a></li>
            <li><a class="nav_link" href="team.html" title="Meet the team">Team</a></li>
            <li><a class="nav_link" href="contact.html" title="Contact us">Contact</a></li>
        </ul>
    </nav>

    <main class="contact-page"><br>
        <h1>Contact Us</h1><br>
        <p>Any question or remarks? Just write us a message!</p><br><br>

        <div class="contact-container">
            <!-- Contact Information Section -->
            <div class="contact-info">
                <h2>Contact Information</h2>
                <a class="mail_to" href="mailto:acornide@daydreamtechnologies.net">
                    <img class="mail_img"
                    src="../static/main/images/mail-img.png"
                    alt="mail" />
                    acornide@daydreamtechnologies.net
                </a>
                <a class="social_icons" target="_blank" href="https://www.linkedin.com/company/daydream-technologies/">
                    <img class="logo_img"
                    src="../static/main/images/alt-linkedin.jpg"
                    alt="Daydream's LinkedIn" />
                </a>
            </div>

            <!-- Contact Form Section -->
            <form class="contact-form" action="https://api.web3forms.com/submit" method="POST">

                <!--Needs access key from email to work-->
                <input type="hidden" name="access_key" value="Access_Key_Here">

                <div class="form-group">
                    <input type="text" id="name" name="name" placeholder="Name">
                    <input type="email" id="email" name="email" placeholder="Email">
                    <textarea id="message" name="message" placeholder="Write your message here..."></textarea>
                </div>
                <button type="submit" class="submit-btn">Send Message</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&#169; 2024 DayDream Technologies</p>
    </footer>
</body>
</html>
