<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Srujan Patil" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="../static/main/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/main/css/navbar.css" />
    <link rel="stylesheet" href="../static/main/css/main.css" />
    <link rel="stylesheet" href="../static/main/css/footer.css" />
    <script src="../static/main/js/main.js" defer></script>
    <title>DayDream Technologies - Projects</title>
</head>

<body>
    <nav>
        <ul class="links">
            <li>
                <a class="nav_logo" href="home.html" title="DayDream's homepage">
                    <img class="logo_img" src="../static/main/images/Company_Logo.jpg" alt="Day Dream Technologies" />
                </a>
            </li>
            <div class="nav_links">
                <li><a class="nav_link" href="home.html" title="DayDream's homepage">Home</a></li>
                <li><a class="nav_link" href="projects.html" title="Projects page">Projects</a></li>
                <li><a class="nav_link" href="team.html" title="Meet the team">Team</a></li>
                <li><a class="nav_link" href="contact.html" title="Contact us">Contact</a></li>
                <li><a class="nav_link" href="about.html" title="What we do">About</a></li>
            </div>
        </ul>
    </nav>
    <main>
        <div class="title_desc">
            <h1>Our Projects</h1>
            <p>Hover over a project card to learn more.</p>
        </div>

        <!-- Projects container for cards -->
        <div id="projects-container">
            <!-- Project cards will be dynamically added here by JavaScript -->
        </div>
    </main>
    <footer><p>&#169 2024 DayDream Technologies</p></footer>
</body>
</html>
