<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Srujan Patil" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="../static/main/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../static/main/css/navbar.css" />
        <link rel="stylesheet" href="../static/main/css/main.css" />
        <link rel="stylesheet" href="../static/main/css/footer.css" />
        <script src="../static/main/js/main.js" defer></script>
        <title>DayDream Technologies</title>
    </head>

    <body>
        <nav>
            <ul class="links">
                <li>
                    <a class="nav_logo" href="home.html" title="DayDream's homepage">
                        <img class="logo_img"
                             src="../static/main/images/Company_Logo.jpg"
                             alt="Day Dream Technologies" />
                    </a>
                </li>
                <div class="nav_links">
                    <li><a class="nav_link" href="home.html" title="DayDream's homepage">Home</a></li>
                    <li><a class="nav_link" href="projects.html" title="Projects page">Projects</a></li>
                    <li><a class="nav_link" href="team.html" title="Meet the team">Team</a></li>
                    <li><a class="nav_link" href="contact.html" title="Contact us">Contact</a></li>
                    <li><a class="nav_link" href="about.html" title="What we do">About</a></li>
                </div>
            </ul>
            <ul class="respo_navbar">
                <li>
                    <a class="nav_logo" href="home.html" title="DayDream's homepage">
                        <img class="logo_img"
                             src="../static/main/images/Company_Logo.jpg"
                             alt="Day Dream Technologies" />
                    </a>
                </li>
                <li><img class="menu_bar" src="../static/main/images/menu-bar.png" alt="menu"></li>
            </ul>
            <ul class="dropdown">
                <li><a class="nav_link" href="home.html" title="DayDream's homepage">Home</a></li>
                <li><a class="nav_link" href="projects.html" title="Projects page">Projects</a></li>
                <li><a class="nav_link" href="team.html" title="Meet the team">Team</a></li>
                <li><a class="nav_link" href="contact.html" title="Contact us">Contact</a></li>
                <li><a class="nav_link" href="about.html" title="What we do">About</a></li>
            </ul>
        </nav>
        <main>
            <div class="title_desc">
                <h1>Here are the team members working at DayDream Technologies.</h1><br>
                <p>Click an image to visit the respective team members LinkedIn.</p>
            </div><br><br><br><hr class="divider"><br><br><br>
            <div class="grid">
                <a class="def_team_img"
                target="_blank"
                href="https://www.linkedin.com/company/daydream-technologies/"
                title="DayDream's LinkedIn" ></a>
                <p class="home_desc">
                    <span class="big_bold">DayDream Technologies</span><br>
                    Application, website, and software development company focused on modernizing
                    other firms in all industries.
                </p>
            </div><br><br><br><hr class="divider">
        </main>
        <footer><p>&#169 2024 DayDream Technologies</p></footer>
    </body>
</html>